{% extends "base.html" %}
{% block content %}

    <h4><strong>Team ID :</strong> {{ team_dict.uid }}</h4>
    <p><strong>Team Name :</strong> {{ team_dict.name }}</p>
    <p><strong>Team Leader Email :</strong> {{ team_dict.leader_email}}</p>
    <p><strong>Team's Institute :</strong> {{ team_dict.institute }}</p>
    <p><strong>Team Creation Date :</strong> {{ team_dict.create_date }}</p>
    <p><strong>Team Mentor :</strong> {{ team_dict.mentors }}</p>
    <p><strong>Team Members :</strong> {{ team_dict.members }}</p>
    <p><strong>Team Projects :</strong> {{ team_dict.projects }}</p>

{% endblock %}
