{% extends "base.html" %}
{% block content %}

<h1>Student Dashboard</h1>

<p><strong>Name :</strong> {{ student.name }}</p>
<p><strong>Email :</strong> {{ student.email}}</p>
<p><strong>Institute :</strong> {{ student.institute }}</p>

<br>
    <p><strong>Teams Part of : </strong></p>
    {% for team in student.teams %}
        <ul>
            <li >
                <a href="{{ url_for('team_dashboard', team_uid=team.uid) }}">Team#{{ team.uid }}</a>
                <ul>
                    <li>Team Name : {{ team.name }}</li>
                    <li>Team Institute : {{ team.institute }}</li>
                    <li>Team Leader Email : {{ team.leader_email }}</li>
                </ul>
            </li>
        </ul>
    {% endfor %}

<br>
    <p><strong>Projects Part of :</strong></p>
    {% for team in student.teams %}
    {% for project in team.projects %}
        <ul>
            <li >
                <a href="{{ url_for('project_dashboard', project_uid=project.uid) }}">Project#{{ project.uid }}</a>
                <ul>
                    <li>Project title : {{ project.title }}</li>
                    <li>Project description : {{ project.description }}</li>
                    <li>Project Type : {{ project.type }}</li>
                </ul>
            </li>
        </ul>
    {% endfor %}
    {% endfor %}

{% endblock %}


