{% extends "base.html" %}
{% block content %}
<h1>Upload Project</h1>
<h6><strong>Team ID :</strong> {{ team_id }}</h6>

<form action="" method="post">

    <div class="mb-3">
        <label class="form-label" for="teamName">Title</label>
        <input aria-describedby="teamNameHelp" class="form-control"
               id="teamName" name="team_name" required type="text">
        <div class="form-text" id="teamNameHelp">Enter title of the project.</div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="themeSelect">Theme</label>
    <select class="form-select" id="themeSelect" aria-describedby="themeSelectHelp" aria-label="Default select example">
  <option selected>Blockchain</option>
  <option value="1">Smart Education</option>
  <option value="2">Agriculture</option>
  <option value="3">Smart Automation</option>
        <option value="4">Other</option>
        <div class="form-text" id="themeSelectHelp">Select theme of the project.</div>
</select>
        </div>

    <div class="mb-3">
        <label class="form-label" for="teamLeaderEmail">Description</label>
        <textarea rows="5" aria-describedby="teamLeaderEmailHelp"
               class="form-control" id="teamLeaderEmail"
               name="team_leader_email" required type="email"></textarea>
        <div class="form-text" id="teamLeaderEmailHelp">Enter description of the project.</div>
    </div>

    {# <!--    <div class="mb-3">-->
<!--        <label class="form-label" for="teamLeaderEmail">Description</label>-->
<!--        <input aria-describedby="teamLeaderEmailHelp"-->
<!--               class="form-control" id="teamLeaderEmail"-->
<!--               name="team_leader_email" required type="email"-->
<!--               value="{{ data_dict['team_leader_email'] if data_dict.get('team_leader_email') }}">-->
<!--        <div class="form-text" id="teamLeaderEmailHelp">Enter description of the project.</div>-->
<!--    </div>-->
#}

    {# Add Project PPT Link input and Project Report input Link. #}

    <button class="btn btn-primary" type="submit">Submit</button>

</form>

{% endblock %}
